
@{
    ViewData["Title"] = "index";
}

<html>
<head>
    <title>Список з посиланнями</title>
</head>
<body>
    <h1>Список з посиланнями</h1>
    <ul>
        <li><a href="list/info">Перше посилання</a></li>
        <li><a href="test/Message">Друге посилання</a></li>
    </ul>
</body>
</html>

