
@{
    ViewData["Title"] = "Info";
}

<html>
<head>
    <title>Список з трьома елементами</title>
</head>
<body>
    <h1>Список з трьома елементами</h1>
    <ul>
        <li>Перший елемент</li>
        <li>Другий елемент</li>
        <li>Третій елемент</li>
    </ul>
</body>
</html>

